<!-- 
============================================ 
; Title: error.ejs
; Author: James Pinson
; Date: March 30th 2021 
; Description: This is my error.ejs page or error page. 
;============================================ 
--> 

<!-- This displays our message. -->
<h1><%= message %></h1>

<!-- This displays our error status. -->
<h2><%= error.status %></h2>
<pre><%=error.stack %></pre>